* {
    padding: 0;
    margin: 0;
}

#escolhaQualOperacao select{
    width: auto;
    border-radius: 40px;
    padding: 5px;
    text-align: center;
}

#escolherNumeros {
    flex-direction: row;
    display: flex;
    align-items: center;
}

input {
    width: auto;
    border-radius: 50px;
    padding: 5px;
    text-align: center;
    
}

#submit {
    margin-left: 10px;
    width: auto;
}

body {
    background-color: rgb(141, 127, 127);
}

